<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réservation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
        }
        h1 {
            color: #333333;
        }
        p {
            color: #7c2727;
        }
        a{
            color: white;
        }
    </style>
</head>
<body>
    <h1>Confirmation de votre réservation</h1>
    <p>Votre réservation a été enregistrée. Vous pouvez procéder au paiement en suivant le lien suivant :</p>
    <a href="https://www.linkedin.com/in/ndeye-fatou-mbengue-26b073224"><button>Cliquez-ici</button></a>
    
</body>
</html>
