{% extends 'template_base.html' %}

{% block contenu %}
{% load static %}
<section class="chambre" id="info_reservation">
    <div class="container">
      <br>
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Accueil</a></li>
          <li class="breadcrumb-item"><a href="#">Hotel</a></li>
          <li class="breadcrumb-item"><a href="#">Chambre</a></li>
          <li class="breadcrumb-item active" aria-current="page">Reservation</li>
        </ol>
      </nav>
    </div>
  
  
  <!-- Aperçu Hotel -->
  <div class="text-center">
    <h1 class="t2 mb-2">Informations sur la réservation</h1>
</div>
  <div class="container r_info ">
    <div class="row ">
      <div class="col-sm-8 border">
        
       
          <div class="r_titre text-center h2">
            <h2 class="t2">Détails sur la chambre</h2>
          </div>
            <div class="d-flex justify-content-center "><p class="notif">Votre réservation a été enregistrée</p></div>
          <div class="inf_ch">
              <div class="row ">
                <div class="col-sm-4 text-end res_t  ">
                    Type de réservation :
                </div>
                <div class="col-sm-6 res_t2 ">
                    Chambre (Hotel)
                </div>
              </div>
            <div class="row ">
              <div class="col-sm-4 text-end res_t ">
                  Type de Chambre:
              </div>
              <div class="col-sm-6 res_t2 ">
                {{ chambre.type }} 
              </div>
            </div>
            <div class="row ">
              <div class="col-sm-4 text-end res_t ">
                  Nombre de personnes:
              </div>
              <div class="col-sm-6 res_t2 ">
                {{ chambre.nombre }}
              </div>
            </div>
            <div class="row ">
              <div class="col-sm-4 text-end res_t ">
                  Arrivée:
              </div>
              <div class="col-sm-6 res_t2 ">
                {{ reservation.arrivee }} 
              </div>
            </div>
            <div class="row ">
                <div class="col-sm-4 text-end res_t ">
                    Départ:
                </div>
                <div class="col-sm-6 res_t2 ">
                  {{ reservation.depart }}
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-4 text-end res_t ">
                    Nuitée:
                </div>
                <div class="col-sm-6 res_t2 ">
                  {{ chambre.prix }} Francs CFA
                </div>
            </div>
          </div>
        

      </div>
      <div class="col-sm-4 border">
        <img src="{% static 'img/terrou_bi.jpeg'%}" class="img-thumbnail mt-2" alt="...">
        <div class="h_name">LODGE DU DELTA NIOMINKA-ILE DE DIONEWAR</div>
        <div>Dakar, SN</div>
      </div>
    </div>     
    
    <div class="row border ">
        <div class="col-sm-8 text-end res_m">
            Montant Total :
        </div>
        <input type="hidden" id="date_arrivee" value="{{ reservation.arrivee }} ">
        <input type="hidden" id="date_depart" value="{{ reservation.depart }}">
        <input type="hidden" id="montantTotal" value="{{ chambre.prix }}">
        <div class="col-sm-4 res_p " value="{{ chambre.prix }} ">
          <span id="Total"></span> Francs CFA
        </div>
    </div>
    
  </div>

    <div class="container">
      <div class="row">
          
          <div class="col-sm-12  d-flex justify-content-end mt-2">
             <form action="{% url 'paiement' %}" method="post">
              {% csrf_token %} 
              <input type="hidden" name="id_reservation" value="{{ reservation.id }}">
              <input type="hidden" name="type_reservation" value="app_reservation_reservations_hotel">
              <button class="bt_p" type="submit">Proceder au paiement</button>
             </form>
          </div>

      </div>

    </div>

  <br>




<!-- Button trigger modal -->



</section>



{% endblock %}