{% extends 'template_base.html' %}

{% block contenu %}
{% load static %}
<div class="listBody">
   

    <div class="container">
      <br>
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Vol</li>
        </ol>
      </nav>
    </div>

    <div class="container ">
        <div class="row form2">
          <div class="col-3">
            <div class="lab_input">
              
              <div class="dateheure">
              <input type="text" class="input"   placeholder="ex : Dakar" value="{{ request.session.hotel_info.lieu }}"> 
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="lab_input">
              
              <div class="dateheure">
              <input type="text" class="input"   placeholder="ex : Dakar" value="{{ request.session.hotel_info.lieu }}"> 
              </div>
            </div>
          </div>

          <div class="col-5">
            <div class="lab_input">
              <div class="dateheure">
                <img src="{% static 'img/calendar.png' %}" class="calendrier" alt="Ma Image"><input type="date" class="input" value="{{ request.session.hotel_info.arrivee }}" >
              </div>
            </div>
          </div>
          
         
    
          <div class="col-1">
            <button class="btn_search"><img src="{% static 'img/chercher.png' %}" alt="" style="width: 30px; height: 30px;"></button>
          </div>
        </div>
    
      </div>
      <br>
    
      <div class="container">
    
        <div class="row">
          <div class="col-sm-10 mb-2 ">
            <h2 class="p_text">Choisissez votre vol :</h2>
          </div>
          <div class="col-sm-2 d-flex justify-content-end">
            <div class="dropdown-center">
              <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Trier par :
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Defaut</a></li>
                <li><a class="dropdown-item" href="#">Tarif Croissant</a></li>
                <li><a class="dropdown-item" href="#">Tarif Décroissant</a></li>
              </ul>
            </div>
          </div>
    
        </div>
    
      </div>

    <div class="container">

    
    <div class="row">
        {% for key, value in liste_vols.items %}

        <div class="card  col-sm-3 mb-2 p-2" style="width: 18rem;">
            <img src="{% static 'img/'|add:value.image %}" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p>Prix : <span style="color: green;">${{ value.prix }}</span></p>
              <p>Nombre de places disponibles : {{ value.nombre_place }}</p>
              <p>Date de départ : <span style="color: violet;">{{ value.date_depart }}</span></p>
              <p>Date d'arrivée : <span style="color: violet;">{{ value.date_arrivee }}</span></p>
              <p>aeroport_depart : <span style="color:  rgb(0, 225, 255);">{{ value.aeroport_depart }}</span></p>
              <p>aeroport_arrivee : <span style="color: rgb(0, 225, 255);">{{ value.aeroport_arrivee }}</span></p>
              <form action="{% url 'reservation_vol' %}" method="post" >
                {% csrf_token %}
                <input type="hidden"  name='id_vol' id='id_vol' value="{{ key }}"  >
                <button type="submit"  class="btn btn-primary confirmer"> Reserver</button>
                </form>

            </div>
        </div>
           
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}